.ofa-title {
  font-size: 1.2em;
}

.ofa-welcome {
  margin-left: 10px;
}

.ofa-pseudo {
  font-weight: bold;
  margin-right: 20px;
}

.ofa-button {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-item {
  margin-left: 10px;
}
