<div [style]="{height: '150px'}"></div>

<p-card header="{{title}}" subheader="" [style]="{width: '1024px'}" styleClass="ui-card-shadow">

  <div>
    <hr class="my-4">
    <p class="lead">Bienvenue...</p>
    <p class="lead">Ce site est dédié à l'évaluation des connaissances Angular 9 et ultérieures. Cela concerne les bases d'angular, le Routing, les Reactiv-forms, Les Observable avec RxJs, le store avec ngRX et bien autres éléments de la sphère Angular.</p>
  </div>
  <p-footer>
    <p>SGBDF - ATLAS CC - Copyright 2021</p>
  </p-footer>

</p-card>
